arco-dusk/
Optimus Manager/
nitrogen/
nomacs/
omf/
arco-dwm/
arcolinux-welcome-app/
arco-slstatus/
arco-st/
autostart/
bspwm/
code-oss/
Code - OSS/
conky/
dconf/
discord/
Electron/
fontconfig/
font-manager/
galculator/
gconf/
geany/
google-chrome/
gsimplecal/
gtk-2.0/
gtk-3.0/
htop/
i3/
herbstluftwm/
ibus/
Kvantum/
leftwm/
light/
Microsoft/
Microsoft Teams - Preview/
mimeapps.list
mpv/
nano/
nautilus/
neofetch/
obmenu-generator/
openbox/
paru/
pavucontrol.ini
pulse/
qBittorrent/
qt5ct/
qtile/
QtProject.conf
spectrwm/
spotify/
teams/
termite/
Thunar/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety/
volumeicon/
xfce4/
yad.conf
yay/

nvim/autoload/plugged
